.styled-select {
  width: 100%;
  mat-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-2px);
    .active {
      filter: opacity(100%);
    }
    img {
      transform: translateX(5px);
      z-index: 3;
    }
  }
}
::ng-deep {
  //When value has been selected
  .active .mat-form-field-wrapper {
    .mat-form-field-flex .mat-form-field-outline {
      .mat-form-field-outline-end {
        border-radius: 0 8px 8px 0 !important;
        border: 2px solid var(--dark) !important;
        border-left: none !important;
      }
      .mat-form-field-outline-gap {
        border-top: 2px solid var(--dark) !important;
        border-bottom: 2px solid var(--dark) !important;
      }
      .mat-form-field-outline-start {
        border: 2px solid var(--dark) !important;
        border-right: none !important;
      }
    }
    .mat-form-field-infix
      mat-select
      .mat-select-trigger
      .mat-select-arrow-wrapper
      .mat-select-arrow {
      color: var(--dark);
    }
    .mat-select-arrow-wrapper {
      filter: opacity(100%);
    }
  }

  //height
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.3%;
  }
  .mat-form-field-label-wrapper {
    color: var(--gray-1);
  }

  mat-label {
    color: var(--gray-1);
    font-size: var(--s);
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.75em 0px !important;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0 8px 8px 0 !important;
      border: 2px solid var(--gray-1) !important;
      border-left: none !important;
    }
    .mat-form-field-outline-gap {
      border-top: 2px solid var(--gray-1) !important;
      border-bottom: 2px solid var(--gray-1) !important;
    }
    .mat-form-field-outline-start {
      border-radius: 8px 0 0 8px !important;
      border: 2px solid var(--gray-1) !important;
      border-right: none !important;
    }
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--dark);
  }
  .mat-option-text {
    font-size: var(--m);
  }
  .mat-select-value {
    transform: translateY(-5px);
    color: var(--dark);
  }
  app-select {
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      display: none;
    }
    .mat-form-field-label-wrapper {
      top: -1em;
    }
  }
  .mat-select-arrow,
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    opacity: 0;
  }
  .mat-select-arrow-wrapper {
    background: url("../../../../assets/pictures/caret-down.svg");
    filter: opacity(50%);
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-27%) !important;
  }

  .mat-select-panel {
    padding: 7px;
    & > * {
      margin-bottom: 10px;
      border-radius: 6px;
    }
  }

  .mat-option {
    padding: 0 7px !important;
  }
  .select-heading {
    color: var(--gray-1);
    font-size: var(--s);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    padding: 15px 10px 15px 7px;
    img {
      transform: rotate(180deg);
    }
  }

  .mat-select-panel-wrap {
    transform: translate(0, -8px);
  }
}
