<div class="card">
  <img [ngClass]="{'card__impersonated-image': isImpersonated}"
    [src]="isImpersonated ? randomPicturePath : chuckNorrisPicturePath" />
  <p class="card__text" *ngIf="joke$ | async as joke; else textLoading" [innerHtml]="joke | unescape">
  </p>
  <ng-template #textLoading>
    <div class="card__text">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <form [formGroup]="jokesForm" class="card__form" (ngSubmit)="drawJoke()">
    <app-select [options]=categories controlName="category" [isActive]="!!jokesForm.value.category">
      Categories
    </app-select>
    <app-input controlName="impersonate" [isActive]="!!jokesForm.value.impersonate">
      Impersonate Chuck Norris
    </app-input>
    <app-button [isLoading]="buttonState.isDrawLoading" [type]="'submit'">
      Draw a random {{ impersonate.length === 0 ? 'Chuck Norris' : impersonate}} joke
    </app-button>
    <app-quantity-input controlName="quantity" (onValueChange)="handleQuantityChange($event)"
      [hasError]="!jokesForm.controls.quantity.valid && !jokesForm.controls.quantity.disabled">
    </app-quantity-input>
    <app-button
      [isDisabled]="!jokesForm.controls.quantity.valid && !jokesForm.controls.quantity.disabled || jokesForm.controls.quantity.value === 0 || jokesForm.controls.quantity.disabled"
      (onClick)="saveJokes()" [isLoading]="buttonState.isSaveLoading">
      Save Jokes
    </app-button>
    <app-validation-feedback [control]="jokesForm.controls.quantity"></app-validation-feedback>
  </form>
</div>
