.main {
  height: calc(100% - 76px);
  width: 100%;
  display: grid;
  padding: 30px;
  justify-content: center;
  align-items: center;
  @media (max-width: 1700px) {
    height: auto;
  }
  @media (max-width: 1440px) {
    padding: 20px;
  }
  @media (max-width: 768px) {
    padding: 10px;
  }
  @media (max-width: 420px) {
    height: 93%;
    width: 100%;
  }
}
