.card {
  $height: 704px;
  $width: 555px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 130px 114px 1fr;
  max-height: $height;
  max-width: $width;
  margin: auto;
  padding: 48px 58px 72px;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  & > * {
    justify-self: center;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1024px) {
    max-height: calc(#{$height} - 50px);
    max-width: calc(#{$width} - 30px);
  }
  @media (max-width: 768px) {
    max-width: calc(#{$width} - 75px);
    grid-template-rows: 100px 114px 1fr;
    padding: 24px 29px 36px;
  }
  @media (max-width: 420px) {
    padding: 18px 20px 27px;
  }

  &__impersonated-image {
    max-width: 337px !important;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--m);
    font-weight: 600;
    font-style: italic;
    max-height: 111px;
    padding-top: 24px;
    @media (max-width: 768px) {
      padding-top: 17px;
      max-height: 106px;
    }
    mat-spinner {
      margin: 0 auto;
      zoom: 0.5;
    }
    ::ng-deep {
      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: var(--dark);
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 74px 90px 110px 58px 34px;
    & > *:not(:nth-child(4)):not(:nth-child(5)) {
      grid-column: 1/3;
    }
    app-validation-feedback {
      margin-top: 12px;
    }
    @media (max-width: 768px) {
      grid-template-rows: 70px 83px 74px 58px 33px;
      grid-template-columns: 0.4fr 0.6fr;
    }
  }
}
