.card {
  height: 704px;
  margin: auto;
  padding: 48px 58px 72px;
  width: 555px;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 114px 1fr;
  & > * {
    justify-self: center;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1440px) {
    // height: 75vh;
  }
  @media (max-width: 768px) {
    // height: 90vh;
    // padding: 24px 29px 36px;
    // width: 70vw;
    margin: 10px 0;
  }
  @media (max-width: 420px) {
    // padding: 12px 14px 18px;
    // width: 80vw;
  }
  &__form {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 74px 90px 110px 58px 34px;
    & > *:not(:nth-child(4)):not(:nth-child(5)) {
      grid-column: 1/3;
    }
    app-validation-feedback {
      margin-top: 12px;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  &__text {
    font-size: var(--m);
    font-weight: 600;
    font-style: italic;
    text-align: left;
    padding: 24px 0 32px;
  }
  &__quantity {
    background: var(--gray-2);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 1fr;
    margin-right: 8px;
    height: 100%;
    transition: background 250ms ease;
    & > * {
      align-self: center;
    }
    button:nth-child(2) {
      grid-row: 1/3;
    }

    &--error {
      background: var(--red-error);
    }
    button {
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      background: transparent;
      mat-icon {
        display: flex;
        align-items: center;
        font-size: 28px;
        margin: auto;
      }
    }
    input {
      grid-column: 2/3;
      background: transparent;
      width: 45px;
      text-align: center;
      font-size: var(--m);
      border: none;
      &:focus {
        outline: none;
      }
    }
    input:focus + button mat-icon,
    input:focus ~ button mat-icon {
      font-size: 58px;
    }
  }
}
