<div class="card">
  <img [src]="impersonated ? chuckNorrisPicture : randomPicture" />
  <p class="card__text">“If Chuck Norris were to travel to an alternate dimension in which there was another Chuck
    Norris and they both fight, they would both win”</p>
  <form [formGroup]="jokesForm" class="card__form" (ngSubmit)="drawJoke()">
    <app-select [options]=categories controlName="categories" [filled]="!!jokesForm.value.categories">Categories
    </app-select>
    <app-input controlName="impersonate" [filled]="!!jokesForm.value.impersonate">Impersonate Chuck Norris</app-input>
    <app-button [type]="'submit'">Draw a random {{ impersonate.length === 0 ? 'Chuck Norris' : impersonate}} Joke
    </app-button>
    <div class="card__quantity" [class.card__quantity--error]="!jokesForm.controls.quantity.valid">
      <input maxlength="3" formControlName="quantity" appInteger />
      <button type="button" (click)="handleQuantityChange(-1)" class="plus-minus">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <button type="button" (click)="handleQuantityChange(1)" class="plus-minus">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <app-button [isDisabled]="!jokesForm.controls.quantity.valid || jokesForm.controls.quantity.value === 0 ">
      Save Jokes</app-button>
    <app-validation-feedback [control]="jokesForm.controls.quantity"></app-validation-feedback>
  </form>
</div>
